<%= simple_form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome", class:"flow-text" , style:"font-weight: bold;"%>
    <%= f.text_field :name , class:"flow-text" , style:"font-weight: bold;"%>
  </div>

  <div class="">
    <%= f.label :birthday, "Data de Nacimento", class:"flow-text" , style:"font-weight: bold;" %>
    <%= f.date_field :birthday, class: "input-field datepicker flow-text" , style: "width:200px" %> 
  </div>

  <div class="field">
    <%= f.label :addres, "Endereço", class:"flow-text" , style:"font-weight: bold;" %>
    <%= f.text_field :address, class:"flow-text" , style:"font-weight: bold;"%>
  </div>

  <div class="field">
    <%= f.label :father, "Pai", class:"flow-text" , style:"font-weight: bold;" %>
    <%= f.text_field :father, class:"flow-text" , style:"font-weight: bold;" %>
  </div>

  <div class="field"  >
    <%= f.label :mother, "Mãe", class:"flow-text" , style:"font-weight: bold;" %>
    <%= f.text_field :mother, class:"flow-text" , style:"font-weight: bold;" %>
  </div>

  <div class="field" >
    <%= f.label :tel, "Telefone", class:"flow-text" , style:"font-weight: bold;" %>
    <%= f.number_field :tel, class:"flow-text" , style:"font-weight: bold;" %>
  </div>

  <div class="field">
    <%= f.label :email,"E-mail", class:"flow-text" , style:"font-weight: bold;" %>
    <%= f.text_field :email, class:"flow-text" , style:"font-weight: bold;" %>
  </div>

<h1>Vacinas</h1> <br><br>
  <div class="add_v">
    <%= f.simple_fields_for :vaccines do |builder|%>
      <%= render 'vaccine_fields', f: builder %>

      <% end %>
  </div>
  <br>
  <div>
     <%= link_to_add_association 'Adicionar Vacinas', f, :vaccines, class: "waves-effect waves-light btn  red accent-4 " , data: { association_insertion_node: '.add_v', association_insertion_method: :append } %>
   </div>
  <div class="actions">
    <br>
    <%= f.submit "Salvar cadastro" , class: "waves-effect waves-light btn  red accent-4 " %> <br> <br>
  </div>
<% end %>
<script type="text/javascript">
      $(document).ready(function() {
          $('select').material_select();
      });
  </script>

   <script type="text/javascript">
$('#datetimepicker2').datetimepicker({
  datepicker:false,
  format:'H:i'
});

    </script>

       <script type="text/javascript">
$('#datetimepicker3').datetimepicker({
  datepicker:false,
  format:'H:i'
});

    </script>
