<div class="nested-fields">

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :desc, "Descrição" %>
    <%= f.text_field :desc %>
  </div>

  <div class="field">
    <%= f.label :lote %>
    <%= f.text_field :lote %>
  </div>

  <div class="field">
    <%= f.label :expiration , "Data de Validade" %>
    <%= f.date_field :expiration, class: "input-field datepicker" , style: "width:200px" %> 
  </div>

  <div class="field">
    <%= f.label :provider, "Fornecedor" %>
    <%= f.text_field :provider %>
  </div>

  <div class="field">
    <%= f.label :return , 'Dia da vacina' %>
    <%= f.date_field :return, class: "input-field datepicker" , style: "width:200px" %> 
  </div> <br>
<div>
  
    <%= link_to_remove_association "Deletar", f , class: "waves-effect waves-light btn  red accent-4 "%> <br>
</div>
<br>
</div>