<p id="notice"><%= notice %></p>
<br>
<p style="font-size: 1.5rem;">
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Aniversário:</strong>
  <%= @client.birthday %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Endereço:</strong>
  <%= @client.address %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Pai:</strong>
  <%= @client.father %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Mãe:</strong>
  <%= @client.mother %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Telefone:</strong>
  <%= @client.tel %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Email:</strong>
  <%= @client.email %>
</p>

   <strong style="font-size: 1.5rem; color: blue">Vacinas:</strong>
  <% @client.vaccines.each do |vaccine| %>

<p style="font-size: 1.5rem;" >
  <strong>Nome:</strong>
  <%= vaccine.name %>
</p>
<!--
<p style="font-size: 1.5rem;" >
  <strong>Desc:</strong>
  <%= vaccine.desc %>
</p>
-->

<p style="font-size: 1.5rem;" >
  <strong>Lote:</strong>
  <%= vaccine.lote %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Validade:</strong>
  <%= vaccine.expiration %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Fornecedor:</strong>
  <%= vaccine.provider %>
</p>

<p style="font-size: 1.5rem;" >
  <strong>Dia do Retorno:</strong>
  <%= vaccine.return + vaccine.timereturn %>
</p>
<br>
<div class="divider blue"></div>
<br>
<% end %>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>

