<p id="notice"><%= notice %></p>

<h1>Retorno Vacinas</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Retorno</th>
      <th>Name</th>
      <th>Desc</th>
      <th>Lote</th>
      <th>Expiration</th>
      <th>Provider</th>
      <th>Telefone</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccines.each do |vaccine| %>
      <tr>
        <td><%= vaccine.client.name %></td>
        <td><%= vaccine.return + 60%></td>
        <td><%= vaccine.name %></td>
        <td><%= vaccine.desc %></td>
        <td><%= vaccine.lote %></td>
        <td><%= vaccine.expiration %></td>
        <td><%= vaccine.provider %></td>
        <td><%= vaccine.client.tel%></td>
        
        
        <td ><%#= link_to 'Show', vaccine %></td>
        <td ><%#= link_to 'Edit', edit_vaccine_path(vaccine) %></td>
        <td ><%#= link_to 'Destroy', vaccine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @vaccines%>
<%#= link_to 'New Vaccine', new_vaccine_path %>
